:root {
  --dark-green: #064635;
  --light-green: #519259;
  --light-green-hover: #1fc600;
  --mustard-orange: #f0bb62;
  --pale-yellow: #f4eea9;
  --dark-orange: #d06224;
  --dark-orange-hover: #ae431e;
}

body {
  background-color: var(--dark-green);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  max-width: 600px;
  margin: auto;
}

h1 {
  background-color: var(--mustard-orange);
  text-align: center;
  padding: 0.3em 0em 0.3em 0em;
  border-radius: 4px;
}

br {
  content: "";
  margin: 1em;
  display: block;
  font-size: 24%;
}

.user-hand {
  display: flex;
  flex-direction: row;
  background-color: var(--light-green);
  column-gap: auto;
  justify-content: space-evenly;
  height: 130px;
  border-radius: 4px;
}

.card {
  padding: 10px;
  margin: 10px;
  background-color: var(--pale-yellow);
  display: inline-block;
  height: 90px;
  width: 60px;
  border-radius: 5px;
  text-align: center;
  border-width: 5px;
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 20em;
  margin: auto;
}

.single-column {
  background-color: var(--mustard-orange);
  margin: 1em 0em 0.5em 0em;
  text-align: center;
  width: 260px;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.875em;
}

.multi-column {
  width: 110px;
  background-color: var(--mustard-orange);
  margin: 1.5em 0em 0.5em 0em;
  text-align: center;
  padding: 5px;
  font-size: 0.875em;
  border-radius: 4px;
}

.column-button {
  background-color: var(--dark-orange);
  border: var(--dark-orange);
  text-align: center;
  margin: 1em 0em 0.5em 0em;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
}

.column-button:hover:enabled {
  text-decoration: none;
  background-color: var(--dark-orange-hover);
  border: var(--dark-orange-hover);
}

.instructions-table-div {
  padding: 10px;
  background-color: var(--light-green);
  margin: 1em 0em 0.5em 0em;
  border-radius: 3px;
}

#column-title-hand {
  width: 150px;
  text-align: start;
}

#column-title-score {
  width: 90px;
  text-align: start;
}

#column-title-example {
  text-align: start;
}

.card-example {
  display: flex;
  flex-direction: row;
}

.mini-card {
  padding: 3px;
  margin: 3px;
  background-color: var(--pale-yellow);
  display: inline-block;
  height: 45px;
  width: 30px;
  border-radius: 2px;
  text-align: center;
  font-size: 0.5rem;
  border-width: 5px;
}

.mini-card-back {
  padding: 3px;
  margin: 3px;
  background: linear-gradient(120deg, black 50%, red 50%);
  display: inline-block;
  height: 45px;
  width: 30px;
  border-radius: 2px;
  text-align: center;
  font-size: 0.5rem;
  border-width: 5px;
}

.toggle-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button {
  background-color: var(--dark-orange);
  border: var(--dark-orange);
  text-align: center;
  margin: 1em 0em 0.5em 0em;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 260px;
}

.toggle-button:hover:enabled {
  text-decoration: none;
  background-color: var(--dark-orange-hover);
  border: var(--dark-orange-hover);
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
